{% extends 'default.html' %}

{% block title %} Delete post {% endblock title %}

{% block content %}
<h2>Вы действительно хотите удалить этот пост?</h2>

<h3>{{ post.post_title }}</h3>

{{ post.post_text|safe }}

<p>Автор: {{ post.post_author }}</p>
<p>Опубликовано: {{ post.post_time|date:'d-M-Y H:i' }}</p>
<p>В категории: <a href="{% url 'post-category' post.post_category.id %}">{{ post.post_category }}</a></p>

<p>
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="Подтвердить"></form>
</p>

 <hr>

{% if is_author %}
<p><button> <a href="{% url 'post_edit' post.id %}">Редактировать</a> </button></p>
{% endif %}
<p><button> <a href="{% url 'main' %}">Перейти на форум</a> </button></p>

<p><button><a href="{% url 'messages' %}"><u>Мои сообщения</u></a></button></p>

{% if user.is_authenticated %}
        <button> <a href="{% url 'logout' %}">Выйти</a> </button>
    {% else %}
        <button> <a href="{% url 'login' %}">Войти</a> </button>
    {% endif %}

{% endblock content %}